@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.hero {
  background: url("/hero-background.png") no-repeat;
  background-size: cover;
  background-position: center 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
  flex-direction: column;
  position: relative;

  h1 {
    color: #000;

    padding: 0 20px;
    border-radius: 20px;
    text-align: center;
    text-shadow: 0 4px 4px #000;
    font-family: Tektur, sans-serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 6px;
    margin: auto auto 0;
  }

  .button {
    background: #000;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    transition: .3s;
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .button:hover {
    background: rgba(0, 0, 0, .3);
    color: white;
  }

  .header {
    display: flex;
    justify-content: end;

    .menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      max-width: 220px;
      margin-right: 20px;
      margin-top: 20px;

      .button {
        width: 100px;
        height: 40px;
      }

      .signIn {
        color: white;
      }

      .signUp {
        background: rgba(255, 255, 255, .2);
        background: white;
        color: black;
      }
    }
  }

  h2 {
    margin: 64px auto 0;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-family: Tektur, sans-serif;
  }

  .seeMore {
    width: 360px;
    height: 80px;
    margin: 100px auto auto;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    padding: 20px;
    font-style: normal;
    justify-content: center;
    font-weight: 600;
    border-radius: 20px;
    line-height: normal;
  }

  .seeMore svg {
    margin-left: 20px;
  }

  .seeMore:hover {
    background: black;
    color: #FFFFFF;
    filter: invert(1);
  }

  @media (max-width: 980px) {
    & {
      padding-left: 20px;
      padding-right: 20px;

      .header {
        .menu {
          margin-right: 0;
        }
      }

      h1 {
        font-size: 80px;
        -webkit-text-stroke-width: 4px;
      }

      h2 {
        font-size: 30px;
        text-align: center;
      }

      & > .button {
        padding: 10px;
        width: 260px;
        font-size: 20px;
        height: 60px;
      }
    }
  }
  @media (max-width: 713px) {
    & {
      h1 {
        font-size: 55px;
        -webkit-text-stroke-width: 4px;
      }

      h2 {
        font-size: 30px;
      }

      & > .button {
        padding: 10px;
        width: 260px;
        font-size: 20px;
        height: 60px;

        &:hover {
          filter: unset;
        }
      }
    }
  }

}

.sideMenu {
  position: fixed;
  left: 0;
  width: 250px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  .list {
    width: 124px;
    height: 109px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    .listElement {
      background: transparent;
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      text-align: left;
      text-decoration: none;
      align-items: center;
      display: flex;
      line-height: normal;
      position: relative;
      cursor: pointer;
      padding: 3px 0 3px 15px;

      &:before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border: black 1px solid;
        background: #FFFFFF;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        transition: .3s;
      }
    }

    .active:before {
      background: black;
    }

    .listElement:hover:before {
      background: black;
    }
  }

  button {
    display: none;
  }

  @media (max-width: 900px) {
    & {
      left: unset;
      width: 150px;
      transform: unset;
      top: unset;
      right: 20px;
      bottom: 20px;

      .list {
        opacity: 0;
        transform: translateX(150%);
        transition: .4s;
        background: #FFFFFF;
        width: 150px;
        border-radius: 20px 20px 0 20px;
        aspect-ratio: 1;
        right: 0;
        position: absolute;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;

        .listElement {
          padding: 0 0 0 25px;
          list-style: none;

          &:before {
            content: "👉";
            width: 20px;
            height: 20px;
            top: unset;
            background: transparent;
            border: 0;
            filter: opacity(0);
            transform: unset;
          }

          &:hover {
            &:before {
              filter: opacity(1);
              background: transparent;
            }
          }
        }

        .active {
          &:before {
            filter: opacity(1);
          }
        }
      }

      .open {
        opacity: 1;
        transform: translateX(0);
      }

      button {
        width: 40px;
        border-radius: 50%;
        height: 40px;
        background: black;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        cursor: pointer;
        border: 2px solid black;
        transition: .5s;

        img {
          width: 50%;
          height: 50%;
          fill: #fff;
        }

      }

      .clicked {
        border-radius: 0 0 50% 50%;
        background: #FFFFFF;
        border-color: #FFFFFF;

        img {
          filter: invert(1);
        }
      }
    }
  }
}

.section {
  width: 100vw;
  max-width: calc(100vw - 300px);
  padding: 20px;
  background: #FFFFFF;
  margin-left: auto;
  @media (max-width: 900px) {
    max-width: 100%;
  }
}

.whoWeAre {
  margin-top: 60px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 250px);
  grid-gap: 25px;
  flex-shrink: 1;

  img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &[alt="1"] {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    &[alt="2"] {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    &[alt="3"] {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &[alt="4"] {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 7;
    }

    &[alt="5"] {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 6;
    }

    &[alt="6"] {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 10;
    }

    &[alt="7"] {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 6;
      grid-row-end: 9;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  p {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
  }

  button {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
    border-radius: 50px;
    border: 1px solid #000;
    margin: auto;
    width: 650px;
    max-width: 650px;
    height: 74px;
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #FFF;
    cursor: pointer;
    transition: .3s;

    &:hover {
      filter: invert(1);
    }
  }

  @media (max-width: 1440px) {
    & {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(10, 250px);
      grid-gap: 25px;

      p, & button {
        font-size: 14px;
      }


      img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &[alt="1"] {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 3;
        }

        &[alt="2"] {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 4;
        }

        &[alt="3"] {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 5;
        }

        &[alt="4"] {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 5;
          grid-row-end: 7;
        }

        &[alt="5"] {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 6;
          grid-row-end: 8;
        }

        &[alt="6"] {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 8;
          grid-row-end: 11;
        }

        &[alt="7"] {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 8;
          grid-row-end: 9;
        }
      }

      & > div {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 11;

        button {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
  @media (max-width: 900px) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(17, 220px);
      gap: 15px;
      margin-bottom: 0;
      padding-bottom: 0;

      p {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      img {

        &[alt="1"] {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 4;
        }


        &[alt="2"] {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 6;
        }

        &[alt="3"] {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 6;
          grid-row-end: 8;
          display: none;
        }

        &[alt="4"] {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 7;
          grid-row-end: 9;
        }

        &[alt="5"] {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 10;
          grid-row-end: 12;
        }

        &[alt="6"] {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 13;
          grid-row-end: 15;
        }

        &[alt="7"] {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 15;
          grid-row-end: 16;
        }
      }

      & > div {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 16;
        grid-row-end: 18;

        p {
          margin-bottom: 20px;
          margin-top: 20px;
        }

        button {
          width: 100%;
          height: 40px;
          margin-top: 60px;

          &:hover {
            filter: unset;
          }
        }
      }
    }
  }
}

.assortment {
  margin-top: 40px;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;

    h3 {
      color: #000;
      margin: 0 0 40px;

      font-family: Montserrat, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .slider {
      display: flex;
      flex-direction: column;

      .card {
        height: 100%;
        width: 30%;
        display: flex;

        img {
          width: 90%;
          margin: auto;
          border-radius: 20px;
          aspect-ratio: 1;
        }
      }
    }
  }

  @media (max-width: 1040px) {
    & {
      margin-top: 30px;

      .container {
        margin-bottom: 30px;

        h3 {
          margin: 0 0 30px;
          font-size: 20px;
        }

        .slider {
          .card {
            width: 50%;

            img {
              width: 95%;
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    & {
      margin-top: 0;

      .container {
        margin-bottom: 20px;

        h3 {
          margin: 0 0 20px;
          font-size: 18px;
        }

        .slider {
          .card {
            width: 100%;
          }
        }
      }
    }
  }

  .slick-dots {
    display: flex !important;
    flex-direction: row !important;
    margin: 10px auto 0;

    li {
      list-style: none;
      margin: 0 10px;
    }

    button {
      font-size: 0;
      width: 5px;
      height: 5px;
      background: rgba(0, 0, 0, .5);
      border-radius: 50%;
    }

    .slick-active {
      button {
        background: black;
      }
    }
  }
}

.cost {
  display: flex;
  flex-direction: column;
  min-height: 600px;

  .title {
    margin: 0 auto 40px 0;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1024px) {
      margin: 0 auto 30px 0;
      font-size: 20px;
    }
    @media (max-width: 900px) {
      margin: 0 auto 20px 0;
      font-size: 18px;
    }
  }

  .slider {
    width: 100%;
    height: 420px;

    .slick-list {
      height: 100%;
    }
  }

  .card {
    max-width: 280px;
    width: 100%;
    height: 400px;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;

    h5, h4 {
      color: #FFF;
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
    }

    h5 {
      font-family: Montserrat, sans-serif;

    }

    h4 {
      font-family: Tektur, sans-serif;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;

    }

    p {
      color: rgba(229, 229, 229, 0.8);
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


    img {
      height: auto;
      margin: auto;
      width: 232px;
      transition: .3s;

      &:hover {
        transform: translateY(-5px);
      }
    }

    box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.40);

    &-background[data-number="1"] {
      background: linear-gradient(180deg, #3949AB 0%, #FFAB91 100%);
    }

    &-background[data-number="2"] {
      background: linear-gradient(180deg, #8E24AA 0%, #AED581 100%);
    }

    &-background[data-number="3"] {
      background: linear-gradient(180deg, #90A4AE 0%, #64B5F6 100%);
    }

    &-background[data-number="4"] {
      background: linear-gradient(180deg, #FFB300 0%, #FD7411 100%);
    }

    &-background[data-number="5"] {
      background: linear-gradient(180deg, #8E24AA 0%, #C0CA33 100%);
    }

  }

}

.cover {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  left: 0;
  z-index: 100;
  top: 0;
  padding: 40px;
  background: rgba(0, 0, 0, .5);
  animation: .3s start 1 linear;
  @keyframes start {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .card {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16/8;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    padding: 0 40px;
    @media (max-width: 600px) {
      padding: 0 20px;
      aspect-ratio: 1;
    }

    &-background[data-number="1"] {
      background: linear-gradient(180deg, #3949AB 0%, #FFAB91 100%);
    }

    &-background[data-number="2"] {
      background: linear-gradient(180deg, #8E24AA 0%, #AED581 100%);
    }

    &-background[data-number="3"] {
      background: linear-gradient(180deg, #90A4AE 0%, #64B5F6 100%);
    }

    &-background[data-number="4"] {
      background: linear-gradient(180deg, #FFB300 0%, #FD7411 100%);
    }

    &-background[data-number="5"] {
      background: linear-gradient(180deg, #8E24AA 0%, #C0CA33 100%);
    }

    h5, h4 {
      color: #FFF;
      text-align: center;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
    }

    h5 {
      font-family: Montserrat, sans-serif;
      position: absolute;
      left: -60px;
      top: 50%;
      transform: translateY(-50%) rotate(270deg);
      @media (max-width: 600px) {
        transform: translateX(-50%);
        left: 50%;
        top: 10px;
      }
      @media (max-width: 495px) {
        font-size: 28px;
      }
    }

    h4 {
      font-family: Tektur, sans-serif;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      @media (max-width: 600px) {
        font-size: 28px;
      }
    }

    .closed {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      cursor: pointer;

      img {
        width: 90%;
      }
    }


    .content {
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: space-between;
      @media (max-width: 600px) {
        flex-direction: column;
        margin: 20px auto 20px;
      }

      p {
        color: rgba(229, 229, 229, 0.50);
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      h4 {

      }

      & > img {
        margin: auto;
        width: 200px;
        transition: .3s;
        animation: move 3s infinite linear;
        @keyframes move {
          0% {
            transform: translateY(0);
          }
          25% {
            transform: translateY(-7px);
          }
          50% {
            transform: translateY(0);
          }
          75% {
            transform: translateY(7px);
          }
          100% {
            transform: translateY(0);
          }
        }
        @media (max-width: 600px) {
          width: 242px;
          &:hover {
            transform: unset;
          }
        }
      }

      .menu {
        margin: auto 0;
        height: 85%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 600px) {
          width: 100%;
          height: 100%;
          min-height: 140px;
        }

        button {
          width: 100%;
          height: 42px;
          border-radius: 21px;
          border: 1px solid #000;
          background: rgba(255, 255, 255, 0.5);
          color: #000;
          text-align: center;
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
          transition: .3s;

          &:hover {
            background: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {

  .bottom {
    position: fixed;
    border-radius: 20px;
    background: black;
    bottom: 140px;
    transform: unset;
    top: unset;
    transition: bottom .5s;

    .list {

      .listElement {
        color: #FFFFFF;

        &:before {
          background: black;
          border-color: #FFFFFF;
        }
      }

      .active {
        &:before {
          background: #FFFFFF;
        }
      }
    }
  }
}

.contact {
  width: 100%;
  background: black;
  display: flex;
  padding: 0;
  padding-top: 60px;


  .question {
    color: #FFF;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto 0 26px 26px;
    max-width: 250px;
  }

  .network {
    border-radius: 20px 20px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(217, 217, 217, 0.00);
    border-bottom: 0;
    margin: auto 0 0 100px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 343px;
    padding: 20px;

    .title {
      color: #FFF;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .social {
      display: flex;
      justify-content: space-between;

      img {
        width: 38px;
        height: 38px;
      }

      .name {
        color: #FFF;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: auto 0;
      }
    }
  }

  .iphone {
    margin: auto 0 0 100px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 343px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 33px 33px 0 0;
    position: relative;

    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      transform: scaleX(1.03);
    }

    p {
      margin: 36px 17px 0;
      color: #000;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
    }

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 140px;
      margin: auto;

      img {
        width: 52px;
        height: 52px;
      }
    }
  }

  h1 {
    color: #000;
    text-align: center;
    text-shadow: 0 4px 4px #000;
    font-family: Tektur, sans-serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 6px;
    margin: auto auto 0;
  }
  @media (max-width: 1480px) {
    h1{
      font-size: 90px;
      max-width: 500px;
      width: 100%;
      flex-shrink: 1;
    }
  }
  @media (max-width: 1370px) {
    &{
      .network{
        margin: auto 0 0 50px;
      }
      .iphone{
        margin: auto 0 0 50px;
      }
    }
  }
  @media (max-width: 1260px) {
    h1{
      font-size: 70px;
      -webkit-text-stroke-width: 4px ;
    }
  }
  @media (max-width: 1150px) {
    &{
      .network{
        margin: auto 0 0 20px;
      }
      .iphone{
        margin: auto 0 0 20px;
      }
    }
  }
  @media (max-width: 1090px) {
    h1{
      font-size: 50px;
      -webkit-text-stroke-width: 3px;
    }
    .question{
      margin: auto 0 20px;
    }
    &{
      .network{
        width: 180px;
        margin-left: 0;
      }
      .iphone{
        margin-left: 10px;
      }
    }
  }
  @media (max-width:900px) {
    &{
      flex-direction: column;
      padding: 20px 20px 0;
      display: flex;
      .question{
        max-width: 100%;
      }
      .network{
        max-width: 90%;
        width: 90%;
        flex-direction: row;
        height: 180px;
        border-radius: 20px;
        margin: auto auto 20px;
        flex: 1;

        flex-wrap: wrap;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        gap: 20px;
        .title{
          margin: auto 0 auto 20px;
        }
        .social{
          width: 180px;
          img{
            margin: auto;
          }
        }
      }
      h1{
        order: 2;
      }
      .iphone{
        order: 3;
        margin: 20px auto 0;
      }

    }
  }
}

.finish {
  animation: .3s finish 1 linear;
  @keyframes finish {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@media (max-width: 900px) {
  .sideMenu {
    .menu {
      display: flex;
    }
  }
}